body {
    background: #fffaf0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}

.display-off {
    display: none;
}

.akane_image_box {
    display: inline-block;
}

.recommendation_list {
    display: inline-block;
}

.recommendation_list_table {
    width: 600px;
    height: 100%;
}

.akane_image {
    display: inline-block;
    width: 300px;
    height: 300px;
}
